:root {
    font-family: system-ui;
}

.container {
    max-width: 100%;
    margin: 3rem auto;
    padding: 1rem;
}

.card {
    padding: 1rem;
    margin: 1rem 0;
}

form {
    display: flex;
    gap: .5rem;
    margin-bottom: 1rem;
}

button {
    padding: .5rem 1rem;
}

fieldset {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    margin-bottom: 1rem;
    border-radius: .5rem;
    padding: 1rem;
}

img {
    width: 250px;
    margin-bottom: 1rem;
}

.card-item {

    padding: 10px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.card-item img {
    width: 100%;
    height: auto;
}

.card-item button {
    margin-top: 10px;
    padding: 6px 12px;
    background: #333;
    color: white;
}

.grid {
    display: grid;

    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin-top: 1rem;
}

#randomCard {
    margin-bottom: 1.5rem;
    align-items: center;
}

#card-search-form {
    margin-top: 1rem;
    margin-bottom: 2rem;
align-items: center;
}

#results {
    margin-top: 2rem;
    text-align: center;
}
